/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ###################### CSS Reset end ###################### */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* ###################### clearfix ###################### */

body {
    font-family: 'Poiret One', cursive, sans-serif;
}

body.entrance {
    background-image: url("../images/index-desktop.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.entrancebutton {
    padding: 0.2em 1.2em;
    border: 2px solid white;
    color: white;
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

.entrancebutton:hover {
    color: black;
    cursor: pointer;
    border: 2px solid black;
}

.sideTop, a.transition {
    color: inherit;
    text-decoration: inherit;
}

.sideTop {
    display: inline-block;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
    color: white;
}

a.transition {
    display: inline-block;
}

@media (max-width: 768px) {
    body.entrance {
        background-image: url("../images/index-tablet.jpeg")
    }
}

@media (max-width: 476px) {
    body.entrance {
        background-image: url("../images/index-mobile.jpeg")
    }
    
    .entrancebutton {
        font-size: 24px;
    }
}

/* ###################### main ###################### */

header {
    width: 100%;
    height: 95px;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 40px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.logo a {
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.logo a:hover, nav ul li a:hover {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 20;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: black;
    padding: 0;
    text-align: right;
    margin: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav.black ul, nav.black ul li a, .logo a.black {
    color: white;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 16px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

@media(max-width: 768px) {
    
    .nav {
        line-height: 40px;
    }
 
    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
        line-height: 40px;
    }
    
    .logo a {
        color: white;
        font-size: 16px;
    }
    
    nav ul li a {
        color: white;
        font-size: 16px;
    }

    nav ul {
        max-height: 0px;
        background: #000;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
        line-height: 40px;
    }

    .menu-icon {
        display: block;
        line-height: 40px;
    }
}





.podjetje, .prednosti, .povezave, .kontakt {
    font-size: 24px;
}

.naslov {
    display: block;
    text-align: center;
    padding: 70px 0;
    font-size: 24px;
}

#podjetje p, #vizija p {
    text-align: center;
    padding: 70px 200px 0px 200px;
    font-style: italic;
    font-size: 20px;
    line-height: 1.5em;
}

.podjetje {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1em 1fr 1em 1fr 1em 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(70px, auto);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 100px;
}

.items {
    -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.2);
    padding: 1em;
    font-size: 16px;
    border-top: 2px solid #96858F;
    text-align: center;
}

.slike {
    display: block;
    margin: auto;
    margin-bottom: 1em;
}

@media (max-width: 768px) {
    #podjetje p, #vizija p {
        padding: 40px 30px;
    }
    
    .podjetje {
        -ms-grid-columns: 1fr 1em 1fr 1em 1fr;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 50px;
    }
    
    .naslov {
        padding: 30px 0;
    }
}

@media (max-width: 476px) {
    #podjetje p, #vizija p {
        padding: 20px 10px;
    }
    
    .podjetje {
        -ms-grid-columns: 1fr 1em 1fr;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 10px;
        padding-bottom: 50px;
    }
    
}





.prednosti {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1em 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(300px, auto);
    margin: 0 200px;
    padding: 1em 0;
}

.box {
    padding: 1em;
}

.box-2, .box-3, .box-6 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.box-2 p, .box-3 p, .box-6 p {
    font-size: 16px;
    line-height: 1.5em;
    font-style: italic;
    padding: 1em 0;
}

.box-1, .box-4, .box-5 {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.2);
}

.box-1 {
    background-image: url("../images/mobilnorac.jpg");
    -ms-grid-column-align: end;
        justify-self: end;
}

.box-4 {
    background-image: url("../images/seminarji.jpeg");
    -ms-grid-column-align: start;
        justify-self: start;
}

.box-5 {
    background-image: url("../images/izobrazevanje.jpeg");
    -ms-grid-column-align: end;
        justify-self: end;
}

.box-3 p, .box-3 h2 {
        text-align: right;
    }

@media (max-width: 768px) {
    .box-3 p, .box-3 h2 {
        text-align: left;
    }
    
    .prednosti {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        margin: 0;
    }
    
    .box-1, .box-4, .box-5 {
        display: none;
    }
}

@media (max-width: 476px) {
    .prednosti {
        padding: 0px;
    }
    
    .box-2 p, .box-3 p, .box-6 p {
        padding-top: 0px;
        padding-bottom: 10px;
    }
    
    .box {
        padding: 0 10px;
    }
}





.povezave {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    margin: 0 50px;
}

.linki {
    padding: 1em 0;
    text-align: center;
    font-size: 16px;
    margin: auto;
}

.logotipi {
    height: auto;
    max-width: 150px;
}


@media (max-width: 768px) {
    .logotipi {
        height: auto;
        max-width: 50px;
    }
}

@media (max-width: 476px) {
    .remove {
        display: none;
    }
    
    .povezave {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        margin: 0;
    }
}



.kontakt {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1em 1fr 1em 1fr;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-column-gap: 1em;
    padding: 50px 0 10px 0;
}

.imagebox {
    margin: auto;
    z-index: 10;
}

.textbox {
    text-align: center;
    border: 1px solid black;
    padding-top: 100px;
    padding-bottom: 50px;
    line-height: 1.5em;
}

.slikaprofil {
    border-radius: 50%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50%;
    height: auto;
    max-width: 200px;
}

.contact {
    padding: 1em 0 2em 0;
}

.nagovor {
    display: block;
    text-align: center;
    padding: 1em;
    font-size: 24px;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-name {
    float: left;
    width: 48%;
    margin: 2em 0 1em;
}

.form-email {
    float: right;
    width: 48%;
    margin: 2em 0 1em;
}

.form-text {
    clear: both;
    width: 100%;
    height: 150px;
}

.form-name, .form-email, .form-text {
    border: 1px solid black;
    font-family: inherit;
    color: black;
    font-weight: bold;
    padding: 1em;
    font-size: 16px;
}

.form-send {
    display: block;
    width: 125px;
    padding: 13px 0;
    margin: 2em auto 0;
    text-align: center;
    cursor: pointer;
    border: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
}

textarea {
    overflow: auto;
}

@media (max-width: 768px) {
    .textbox {
        padding-top: 50px;
        font-size: 16px;
    }
    
    .slikaprofil {
        max-width: 100px;
    }
}


@media (max-width: 476px) {
    .kontakt {
        margin: 0px;
        padding: 20px 10px 10px 10px;
    }
    
    .slikaprofil {
        max-width: 50px;
    }
    
    .textbox {
        padding-top: 40px;
        padding-bottom: 20px;
        line-height: 1.5em;
        font-size: 12px;
    }
    
    .contact-form {
        max-width: 500px;
        margin: 0 10px;
    }
}





.footer {
    background-color: #6D7993;
}

.add-info, .na-vrh {
    text-align: center;
}

.add-info {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.i-icon:hover {
    color: white;
    cursor: pointer;
}

.i-icon:hover .informacije {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 16px;
    background-color: #6D7993;
}

.informacije {
    display: none;
    font-family: 'Poiret One', cursive, sans-serif;
    font-size: 16px;
    color: black;
}

.copyright, .credits {
    padding: 0 10px;
}

.credits {
    border-left: 1px solid black;
}

.na-vrh {
    padding-bottom: 16px;
}

.na-vrh a {
    text-decoration: none;
    color: black;
}

.na-vrh a:hover {
    font-weight: bold;
}

@media (max-width: 476px) {
    .i-icon:hover .informacije {
        padding-bottom: 20px;
        font-size: 12px;
    }
}
